<div class="container-fluid">
  <h2>Registration Form</h2>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" [class.is-invalid]="userName.invalid && userName.touched" formControlName="userName" class="form-control">
      <!-- <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Username is required</small> -->
      <div *ngIf="userName.invalid && userName.touched">
        <small class="text-danger" *ngIf="userName.errors?.required">Username is required</small>
        <small class="text-danger" *ngIf="userName.errors?.minlength">Username must be at least 3 characters</small>
        <small class="text-danger" *ngIf="userName.errors?.forbiddenName">'{{userName.errors?.forbiddenName.value}}' username not allowed</small>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Add e-mail</button>
      <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="subscribe" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <div formGroupName="address">

      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName="city" class="form-control">
      </div>

      <div class="form-group">
        <label>State</label>
        <input type="text" formControlName="state" class="form-control">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" formControlName="postalCode" class="form-control">
      </div>

    </div>

    <button class="btn btn-primary" [disabled]="!registrationForm.valid" type="submit">Register</button>
    <button (click)="loadAPIData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>

  </form>

  {{registrationForm.status | json}}
  {{registrationForm.value | json}}
</div>
