<div class="container-fluid">
  <h2>Registration Form</h2>

  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input type="text" [class.is-invalid]="registrationForm.get('userName').invalid && registrationForm.get('userName').touched" formControlName="userName" class="form-control">
      <!-- <small class="text-danger" [class.d-none]="registrationForm.get('userName').valid || registrationForm.get('userName').untouched">Username is required</small> -->
      <div *ngIf="registrationForm.get('userName').invalid && registrationForm.get('userName').touched">
        <small class="text-danger" *ngIf="registrationForm.get('userName').errors?.required">Username is required</small>
        <small class="text-danger" *ngIf="registrationForm.get('userName').errors?.minlength">Username must be at least 3 characters</small>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control">
    </div>

    <div formGroupName="address">

      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName="city" class="form-control">
      </div>

      <div class="form-group">
        <label>State</label>
        <input type="text" formControlName="state" class="form-control">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" formControlName="postalCode" class="form-control">
      </div>

    </div>

    <button class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadAPIData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>

  </form>

  {{registrationForm.value | json}}
</div>
